<html>
<body>

<p>
    {{#people}}
        <a href="/person?id={{id}}">{{firstName}} {{lastName}}</a><br />
    {{/people}}
</p>

<p>
    {{#backOffset}}
        <a href="/?offset={{backOffset}}">back</a>
    {{/backOffset}}

    {{#nextOffset}}
        <a href="/?offset={{nextOffset}}">next</a>
    {{/nextOffset}}
</p>



</body>
</html>