<html>
<body>

<p>
    {{#person}}
        ID: {{id}}<br />
        Name: {{firstName}} {{lastName}}<br />
        Email: {{email}}<br />
        Country: {{country}}<br />
        IP Address: {{ipAddress}}<br />
    {{/person}}
</p>

</body>
</html>